---
layout: default
home: true
---

<h2 aria-label="About Me">About Me</h2>
<p>I have been working in multiple domains - web/ios/android/network/cloud pentests, code reviews, smart contract
  audits, web3 security, automation, etc.</p>

<p>Started with bug bounties back in 2013 and now leading the pentest teams at HackerOne and Cobalt with over 300+
  pentests in domains like Banking, Fintech, Ecommerce, Payments, Healthcare, Telecom, Media, etc.</p>
<p>I'm also working as a research team lead with Credshields where we work on smart contract audits and our in-house
  Solidity vulnerability scanner.</p>
<hr>
<h2 aria-label="Work Experience">Work Experience</h2>

<ol>
  <li><b>Credshields</b> <span style="color: #ff2957;">[Research Lead]</span> -- Web3 Security, Code Reviews, Smart
    Contract Audits and Research</li>
  <li><b>Cobalt Labs</b> <span style="color: #ff2957;">[Team Lead]</span> -- Pentests in various domains and scope, Team
    and Client Management, Executive Reports.</li>
  <li><b>HackerOne</b> <span style="color: #ff2957;">[Team Lead]</span> -- Same as above</li>
  <li><b>Binary.com</b> <span style="color: #ff2957;">[Security Researcher]</span> -- Security and Automation, Code
    Reviews, Application, Cloud, and Infra Security</li>
  <li><b>Bitaces Labs</b> <span style="color: #ff2957;">[Cybersecurity Consultant]</span> -- Web2 Pentests and
    Security Audits</li>
</ol>
<hr>
<h2 aria-label="Recent Posts">Recent Posts</h2>
<article class="post-item">
  <span class="post-item-date">Dec 3, 2022</span>
  <h4 class="post-item-title">
    <a href="https://blog.dixitaditya.com/manipulating-aes-traffic-using-a-chain-of-proxies-and-hardcoded-keys"
      target="_blank" rel="noopener">Manipulating
      AES Traffic using a Chain of Proxies and Hardcoded Keys
    </a>
  </h4>
</article>
<article class="post-item">
  <span class="post-item-date">Aug 7, 2022</span>
  <h4 class="post-item-title">
    <a href="https://blog.dixitaditya.com/series/ethernaut" target="_blank" rel="noopener">Ethernaut CTF Series</a>
  </h4>
</article>
<article class="post-item">
  <span class="post-item-date">Feb 28, 2022</span>
  <h4 class="post-item-title">
    <a href="https://blog.dixitaditya.com/pwning-a-server-using-markdown" target="_blank" rel="noopener">Pwning a Server
      using Markdown</a>
  </h4>
</article>
<article class="post-item">
  <span class="post-item-date">Nov 19, 2021</span>
  <h4 class="post-item-title">
    <a href="https://blog.dixitaditya.com/oauth-account-takeover" target="_blank" rel="noopener">Exploiting OAuth:
      Journey to Account Takeover</a>
  </h4>
</article>
<article class="post-item">
  <span class="post-item-date">Apr 21, 2021</span>
  <h4 class="post-item-title">
    <a href="https://blog.dixitaditya.com/android-task-hijacking" target="_blank" rel="noopener">A deep dive into Task
      Hijacking in Android</a>
  </h4>
</article>