---
layout: default
home: true
---

<h2 aria-label="About Me">About Me</h2>
<p>I have been working in multiple domains - web/ios/android/network/cloud pentests, code reviews, smart contract
  audits, web3 security, automation, etc.</p>

<p>Started with bug bounties back in 2013 and now leading the pentest teams at HackerOne and Cobalt with over 300+
  pentests in domains like Banking, Fintech, Ecommerce, Payments, Healthcare, Telecom, Media, etc.</p>
<p>I'm also working as a research team lead with Credshields where we work on smart contract audits and our in-house
  Solidity vulnerability scanner.</p>

<h2 aria-label="Work Experience">Work Experience</h2>

<ol>
  <li><b>Credshields</b> <span style="color: #ff2957;">[Research Lead]</span> -- Web3 Security, Code Reviews, Smart Contract Audits and Research</li>
  <li><b>Cobalt Labs</b> <span style="color: #ff2957;">[Team Lead]</span> -- Pentests in various domains and scope, Team and Client Management, Executive Reports</li>
  <l1><b>HackerOne</b> <span style="color: #ff2957;">[Team Lead]</span> -- Same as above</l1>
  <l1><b>Binary.com</b> <span style="color: #ff2957;">[Security Researcher]</span> -- Security and Automation, Code Reviews, Application, Cloud, and Infra Security</l1>
  <li><b>Bitaces Labs</b> <span style="color: #ff2957;">[Cybersecurity Consultant]</span> -- Web2 Pentests and Security Audits</li>
</ol>
<h3 class="posts-item-note" aria-label="Recent Posts">Recent Posts</h3>
{%- for post in site.posts limit: site.number_of_posts -%}
<article class="post-item">
  <span class="post-item-date">{{ post.date | date: "%b %d, %Y" }}</span>
  <h4 class="post-item-title">
    <a href="{{ post.url }}">{{ post.title | escape }}</a>
  </h4>
</article>
{%- endfor -%}